.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: .5s;
  z-index: var(--modal-index);
  &Container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 585px;
    min-height: 400px;
    background: var(--white);
    border-radius: 50px;
    padding: 40px;
  }
  &Controls{
    position: absolute;
    top: 35px;
    right: 4%;
    cursor: pointer;
    &:after{
      display: inline-block;
      content: "\00d7";
      font-size: 50px;
      line-height: 15px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);
      transition: .2s;
    }
  }
  &Main{
    height: 100%;
  }
}
