html,
body{
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100%;
}

:root{
  --orange: #EF8629;
  --blue-light: #67A1D6;
  --blue: #739DD4;
  --blue-dark: #034DB4;
  --gray: #EFF6FF;
  --gray-light: #F7FAFE;
  --white: #fff;
  --dark: #2F2E41;
  --gold: #FFE6CB;
  --gold-black: #C59D71;
  --transition: .2s ease-out;
  --dropdown-index: 5;
  --modal-index: 10;
}

body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Montserrat;
  position: relative;
  min-height: 100vh;
  background: #FFFFFF;
  color: var(--dark);
}
