.tooltip{
  position: relative;
  cursor: pointer;
  &:hover{
    small{
      visibility: visible;
      opacity: 1;
    }
  }
  small{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.54);
    border-radius: 25px;
    color: var(--white);
    font-size: 11px;
    line-height: 13.41px;
    font-weight: 400;
    padding: 6px 20px;
    transition: var(--transition);
  }
}
