.input {
  opacity: 0;
  height: 0.1px;
  width: 0.1px;
  position: absolute;

}

.label {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  background: #FFFFFF;
  border-radius: 5px;
  width: 100%;
  color: #0E1839;
  border: 0;
  padding: 10px 15px;
  border: 1px solid #FFFFFF;
  border: 1px solid #0E1839;
  cursor: pointer;
  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    width: 15px;
    height: 15px;
  }
}
