.formLabel{
  font-weight: 500;
  color: #0E1839;
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 645px) {
  .formLabel{
    font-size: 12px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 425px){

}
